extends layout

block content
  form(action="/login", method="post", class="form-signin")
    h1(class="h5 mb-3 font-weight-normal")="Sign in"
    label(for="inputEmail", class="sr-only")="username"
    input(type="text" name="username", id="inputEmail", class="form-control", placeholder="username", required, autofocus)
    label(for="inputPassword", class="sr-only")="password"
    input(type="password", name="password", id="inputPassword", class="form-control", placeholder="password", required)
    input(type="submit", value="Login", class="btn btn-sm btn-primary btn-block")
    
    a(href="/register" class="btn btn-sm btn-secondary btn-block")="Register"
    